<%# footer.ejs %>
<footer>
    <p>&copy; <%= new Date().getFullYear() %> Book Lover Community. All rights reserved.</p>
    <p>Connect with us: 
        <a href="https://www.facebook.com/">Facebook</a> | 
        <a href="https://twitter.com/?lang=en-za">Twitter</a> | 
        <a href="https://www.instagram.com/">Instagram</a>
    </p>
</footer>
