<%# header.ejs %>
<header class="header-body">
    <div id="HeaderContainer">
        <section class="WebLogo">
            <img src="/Images/Logos/BookLoverCommunityLogo.png" alt="Community Logo">
        </section>
        <section class="HeaderContent">
            <h1>Our Book Lover Community</h1>
            <p>Connecting readers, one page at a time.</p>
            <nav id="navbar" class="navbar">
                <p><a href="/">Home</a></p>
                <p><a href="/about">About</a</p>
                <p><a href="/events">Events</a></p>
                <p><a href="/contact">Contact</a></p>
            </nav>
        </section>
        <section class="HeaderLinks">
            <ul>
                <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            </ul>
        </section>
    </div>
</header>
