<%# header.ejs %>
<header class="header-body">
    <div id="HeaderContainer">
        <div id="HeaderImage">
            <img src="/Images/Logos/BookLoverCommunityLogo.png" alt="Community Logo">
        </div>
        <div id="HeaderHead">
            <h1>Our Book Lover Community</h1>
            <p>Connecting readers, one page at a time.</p>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div id="HeaderLinks">
            <ul>
                <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
</header>
