<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/Images/Logos/Icon_About.png">
    <script src="/Scripts/script.js"></script>
    <script src="/Scripts/Events.js"></script>
</head>

    <%- include('../partials/header.ejs') %>

    <Section id="EventSchedule" class="EventSchedule">
    </Section>
    
    <%- include('../partials/footer.ejs') %>

</html>